
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /*### Primary colors*/
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
   
    /*### Accent*/
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    /*### Neutral*/
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

    /*### Headings, Call-to-actions, Header Navigation*/
    --Font-Family-Details: 'Raleway', sans-serif; /*- Weights: 400, 700*/
   
    /*### Body*/
    --Font-Family-Body: 'Open Sans', sans-serif; /*- Weights: 400*/
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

p,
blockquote{
    font-family: var(--Font-Family-Body);
}

h1,
h2,
header,
span,
button,
footer{
    font-family: var(--Font-Family-Details);
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

p {
    max-width: 50rem;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.7rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: .6rem;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.all-content {
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.header-list {
    display: flex;
    gap: 3rem;
}

.section01 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section01-content {
   margin-top: 8rem;
}

.main-input {
    margin-top: 1rem;
}

.main-input .input-01 {
    width: 28rem;
    padding: 15px 0;
} 

.main-input .button-01 {
    width: 15rem;
    padding: 15px 0;
    margin-left: .5rem;
    color: white;
    background: var(--Bright-Blue)
} 

.image01-container {
    width: 60rem;
}

.image01-content {
    max-width: 100%;
}

.detail-container {
    width: 100%;
    grid-column: 1/3;
}

.image-detail {
    width: 100%;
}

.section02 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--Light-Grayish-Blue);
}

.section02-content {
    margin-top: 8rem;
 }

.image02-container {
    width: 60rem;
}

.image02-content {
    max-width: 100%;
}

span {
    display: block;
    margin-top: 1rem;
}

.blockquote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-top: 2rem;
    width: 22rem;
    height: 12rem;
}

.blockquote-container P {
    max-width: 20rem;
}

.quote-kyleburton {
    display: flex;
    margin-top: 0.5rem;
}

.image-kyleburton {
    border-radius: 50%;
    width: 3rem;
}